Package: net.angelxwind.simjectexampletweak
Name: simject Example Tweak
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: An example of how to compile a tweak targeting the iOS Simulator.
Maintainer: Karen/あけみ (angelXwind) <karen@angelxwind.net>
Author: Karen/あけみ (angelXwind) <karen@angelxwind.net>
Section: Tweaks
